.blogs-page{
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.blogsDiv{
  background-color: whitesmoke;
  color: black;
  max-width: 90vw;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  padding: 10px 20px;
}

hr{
  border: 2px solid gray;
}

.blogPost span{
  font-weight: bold;
  color: gray;
  font-size: .8rem;
}

#sort, #filter{
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  margin: 0 10px;
}

[type="number"]{
  max-width: 30px;
}

#limit, #page{
  margin: 10px;
  font-size: 14px;

  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p{
  margin: 0;
}

[type="number"]:invalid{
  outline: 1px solid red;
}

