.blogs-page, .newPost{
  background-color: black;
  color: white;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.blogsDiv{
  background-color: whitesmoke;
  color: black;
  max-width: 90vw;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

hr{
  border: 2px solid gray;
}

.blogPost span{
  font-weight: bold;
  color: gray;
  font-size: .8rem;
}

#sort, #filter{
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  margin: 0 10px;
}

[type="number"]{
  max-width: 30px;
}

#limit, #page{
  margin: 10px;
  font-size: 14px;

  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p{
  margin: 0;
}

:invalid{
  outline: 1px solid red;
}

textarea{
  width: 300px;
  height: 200px;
}